.cat-example {
  background-color: $grey-back;
}

// .cat-example__title {

// }

// .cat-example__info {

// }

.cat-example__price {
  @include font(14px, 20px, $oswald, $font-color-head);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .cat-example {
    position: relative;

    background-color: transparent;

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      z-index: -1;

      width: 100%;
      height: 462px;

      background-image: linear-gradient(to right, $grey-back 0, $grey-back 50%, $grey-back-darken 50%, $grey-back-darken 100%);
    }
  }

  .cat-example__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cat-example__slider {
    margin-top: 240px;
  }
}

@media (min-width: $desktop-width) {
  .cat-example__container {
    display: flex;
    justify-content: space-between;
  }

  .cat-example__card {
    width: 50%;
    min-height: 594px;
  }

  .cat-example__title {
    margin-bottom: 137px;
  }

  .cat-example__data {
    display: block;
  }

  .cat-example__slider {
    width: 50%;
  }
}
