.catalog {
  margin-right: -1 * $mobile-indent;
  margin-left: -1 * $mobile-indent;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  padding-top: 21px;
  padding-right: $mobile-indent;
  padding-bottom: 24px;
  padding-left: $mobile-indent;

  border-top: 1px solid $grey-back-darken;
}

.catalog__item:last-child {
  border-bottom: 1px solid $grey-back-darken;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-right: -1 * $tablet-indent;
    margin-left: -1 * $tablet-indent;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    display: flex;
    width: 50%;
    padding-top: 0;
    padding-right: $tablet-indent;
    padding-bottom: 31px;
    padding-left: $tablet-indent;

    border: none;

    &--more {
      margin-top: 140px;
    }
  }

  .catalog__item:last-child {
    border: none;
  }

  .catalog__item article {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    margin-right: -1 * $desktop-indent;
    margin-left: -1 * $desktop-indent;
  }

  .catalog__item {
    margin-right: $desktop-indent;
    margin-left: $desktop-indent;
  }
}
