.catalog-more {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.catalog-more__title {
  @include font(16px, 20px, $oswald, $font-color-head);
  font-weight: normal;
  text-transform: uppercase;

  &::before {
    content: "";

    background-image: url("../img/icon-plus-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.catalog-more__info {
  @include font(12px, 16px);
}

// .catalog-more__link {

// }

@media (min-width: $tablet-width) {
  .catalog-more {
    width: 324px;
    min-height: 431px;
    padding-left: 38px;
    padding-right: 38px;

    border: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .catalog-more {
    width: 245px;
  }
}
