.contacts {
  position: relative;

  &--main {
    background-color: #ffffff;
  }
}

.contacts__container {
  display: flex;
}

.contacts__tagline {
  margin: 0;

  @include font(16px, 20px, $oswald, $font-color-head);
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
}

// .contacts__map {

// }

@media (min-width: $tablet-width) {
  .contacts__container {
    justify-content: space-between;
    align-items: stretch;
  }

  .contacts__tagline {
    width: 170px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 160px;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: relative;
  }

  .contacts__container {
    position: absolute;
    top: 95px;
    left: $desktop-indent;
    z-index: 1;

    width: 570px;

    background-color: #ffffff;
  }
}
