.container {
  display: block;
  width: $mobile-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $mobile-indent;
  padding-left: $mobile-indent;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
    padding-right: $tablet-indent;
    padding-left: $tablet-indent;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    padding-right: $desktop-indent;
    padding-left: $desktop-indent;
  }
}
