.contacts {
  position: relative;

  &--main {
    background-color: #ffffff;
  }
}

.contacts__container {
  display: flex;
  padding-top: 29px;
  padding-bottom: 25px;
}

.contacts__tagline {
  width: 50%;
  margin: 0;

  @include font(16px, 20px, $oswald, $font-color-head);
  text-transform: uppercase;
}

.contacts__address {
  width: 50%;

  @include font(14px, 20px);
  color: #444444;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-right: 41px;
    padding-bottom: 57px;
    padding-left: 41px;
  }

  .contacts__tagline {
    width: 170px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 160px;
    height: 79px;

    font-size: 16px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: relative;
  }

  .contacts__container {
    position: absolute;
    top: 95px;
    left: $desktop-indent;
    z-index: 1;

    width: 570px;
    padding-right: 84px;
    padding-left: 76px;

    background-color: #ffffff;
  }

  .contacts__address {
    text-align: left;
  }
}
