.contacts {
  &--main {
    background-color: #ffffff;
  }
}

.contacts__tagline {
  @include font(16px, 20px, $oswald, $font-color-head);
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
}

// .contacts__map {

// }
