// .extra-products {

// }

// .extra-products__title {

// }

.extra-products__list {
  list-style: none;
}

// .extra-products__item {

// }

.extra-products__promo {
  @include font(16px, 20px, $color: #ffffff);
  text-align: center;

  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    background-image: url("../img/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
