.form__input {
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 13px;
  padding-left: 15px;

  @include font(16px, 18px, $oswald);
  text-transform: uppercase;

  border: 1px solid rgba(205, 205, 205, 0.5);

  &[type="email"],
  &[type="tel"] {
    padding-right: 47px;
  }
}

.form__textarea {
  min-height: 150px;
  padding: 13px;

  @include font(16px, 18px, $oswald);
  text-transform: uppercase;

  border: 1px solid rgba(205, 205, 205, 0.5);
  resize: none;
}

@media (min-width: $tablet-width) {
  .form__input {
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 17px;

    font-size: 20px;
    line-height: 20px;

    &[type="email"],
    &[type="tel"] {
      padding-left: 20px;
    }
  }

  .form__textarea {
    min-height: 174px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;

    font-size: 20px;
    line-height: 30px;
  }
}
