.group-title {
  display: inline-block;
  padding-right: $mobile-indent;
  padding-left: $mobile-indent;

  @include font(24px, 24px, $oswald, $font-color-head);
  font-weight: normal;

  background-color: $white;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    z-index: -1;

    width: 100%;
    min-width: $mobile-width;
    height: 3px;
    margin-top: 14px;

    background-color: $green;
  }
}

@media (min-width: $tablet-width) {
  .group-title {
    padding-right: 37px;
    padding-left: 37px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      min-width: $tablet-width;
      margin-top: 22px;
    }
  }

  .group-title br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .group-title {
    &::before {
      min-width: $desktop-width;
    }
  }
}
