.menu-list {
  @include list-reset;
  margin-right: -1 * $mobile-indent;
  margin-left: -1 * $mobile-indent;
}

.menu-list__item {
  text-align: center;
  border-top: 1px solid $grey-back-darken;
}

.menu-list__link {
  display: block;
  padding-top: 22px;
  padding-right: $mobile-indent;
  padding-bottom: 23px;
  padding-left: $mobile-indent;

  @include font(20px, 20px, $font-color-head);
  font-weight: 500;
  text-transform: uppercase;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
  }

  .menu-list__item {
    margin-left: 35px;
    border: none;
    padding-top: 10px;
  }

  .menu-list__link {
    position: relative;

    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 18px;
    font-weight: 400;
    color: $font-color-menu;

    &--active {
      box-shadow: 0 2px $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu-list__item {
    padding-top: 12px;
  }

  .menu-list__link {
    font-size: 20px;
  }

  .menu-list--index .menu-list__link {
    color: $white;

    &--active {
      box-shadow: 0 2px $white;
    }
  }
}
