.page-header__container {
  display: flex;
  flex-wrap: wrap;

  border-bottom: 1px solid $grey-back-darken;
}

.page-header__logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-height: 65px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  &.no-js {
    width: 191px;
    margin: 0 auto;
    flex-grow: 0;
  }
}

.page-header__logo-img {
  display: block;
  width: 33px;
  height: 38px;
  margin-top: -5px;
  margin-right: 11px;
}

.page-header__logo-text {
  width: 101px;
  height: 19px;
  margin: 0 auto;
}

.page-header__logo.no-js .page-header__logo-text {
  margin-right: 0;
}

.page-header__toggle {
  position: relative;

  display: block;
  width: 64px;
  height: 65px;
  margin-right: -1 * $mobile-indent;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 23px;
    left: 20px;

    width: 24px;
    height: 2px;

    background-color: $font-color-menu;
    box-shadow: 0 8px 0 0 $font-color-menu, 0 16px 0 0 $font-color-menu;
  }

  &.no-js {
    display: none;
  }

  &--opened::before,
  &--opened::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -2px;

    width: 24px;
    height: 2px;

    background-color: $font-color-menu;
  }

  &--opened::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--opened::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 24px;
  }

  .page-header__container {
    flex-wrap: nowrap;
    justify-content: space-between;

    border: none;
  }

  .page-header__logo {
    align-items: flex-start;
    flex-grow: 0;
    min-height: auto;

    &.no-js {
      margin: 0;
    }
  }

  .page-header__logo-img {
    width: 173px;
    height: 58px;
    margin: 0;
  }

  .page-header__logo-text {
    display: none;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    padding-top: 54px;

    &--index::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 50%;
      height: 100%;

      background-color: $green-header;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: right top;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .page-header__logo-img {
    width: 202px;
    height: 59px;
  }
}
