.page-footer {
  background-color: $grey-back;
}

.page-footer__info {
  display: flex;
  flex-direction: column;
  padding-top: 39px;
}

.page-footer__logo {
  display: flex;
  align-self: center;
  margin-bottom: 30px;
}

.page-footer__developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 22px;

  @include font(16px, 16px);
}

.page-footer__academy-icon {
  min-width: 27px;
  height: 34px;

  path {
    fill: #666666;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__info {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .page-footer__logo {
    margin-right: 18px;
    margin-bottom: 0;
  }

  .page-footer__developer {
    width: 164px;
    margin: 0;
  }

  .page-footer__academy-icon {
    margin-left: 23px;
  }
}
