.product-card {
  display: flex;
  flex-direction: column;
  // &--small {
  // }
}

.product-card__info {
  display: flex;
}

.product-card__title {
  @include font(16px, 20px, $oswald, $font-color-head);
  font-weight: normal;
  text-transform: uppercase;
}

// .product-card__image {

// }

.product-card__data {
  @include font(12px, 16px);

  &--extra {
    font-size: 14px;
  }
}

// .product-card__link {

// }

@media (min-width: $tablet-width) {
  .product-card {
    width: 324px;
    min-height: 513px;
    padding-left: 38px;
    padding-right: 38px;

    background-image: linear-gradient(#fff 0, #fff 82px, $grey-back 82px, $grey-back 100%);
  }

  .product-card__info {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
  }
}
