.promo-section {
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to right, $green-header 0, $green-header 50%, $green-header-darken 50%, $green-header-darken 100%);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 320px 305px, 100% 305px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(to right, $green-header 0, $green-header 50%, $green-header-darken 50%, $green-header-darken 100%);
  }
}

.promo-section__container {
  display: flex;
  flex-direction: column;
  padding-top: 27px;

  text-align: center;
}

.promo-section__header {
  min-height: 139px;
}

.promo-section__title {
  margin: 0;
}

.promo-section__tagline {
  margin-top: 25px;
  margin-bottom: 28px;

  @include font(14px, 14px, $white);
  text-transform: uppercase;
}

.promo-section__product {
  display: block;
  width: 280px;
  height: 270px;
  margin-right: auto;
  margin-bottom: 4px;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .promo-section {
    position: relative;

    padding-top: 49px;
    padding-bottom: 529px;

    text-align: left;

    background-color: transparent;
    background-image: none;
  }

  .promo-section__header {
    width: 430px;
  }

  .promo-section__container {
    align-items: flex-start;
    padding-top: 9px;
    padding-left: 118px;

    text-align: left;
  }

  .promo-section__tagline {
    margin-top: 41px;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    color: $font-color-head;
  }

  .promo-section__product {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;

    width: 709px;
    height: 609px;
    margin-bottom: 0;
    margin-left: -355px;
  }
}

@media (min-width: $desktop-width) {
  .promo-section {
    position: relative;

    min-height: 583px;
    padding-top: 29px;
    padding-bottom: 0;
  }

  .promo-section__container {
    padding-top: 80px;
    padding-left: 120px;
  }

  .promo-section__tagline {
    margin-bottom: 53px;
  }

  .promo-section__product {
    right: 327px;
    top: 29px;
    z-index: 0;

    width: 552px;
    height: 499px;
    margin-left: -160px;
  }
}
