.section-title {
  @include font(36px, 60px, $oswald, $font-color-head);
  font-weight: normal;

  &--promo {
    color: #ffffff;
    line-height: 36px;
  }
}

@media (min-width: $tablet-width) {
  .section-title {
    &--promo {
      color: $font-color-head;
    }
  }
}
