.section-title {
  @include font(36px, 60px, $font-color-head);
  font-weight: normal;

  &--promo {
    line-height: 36px;
    color: $white;
  }
}

@media (min-width: $tablet-width) {
  .section-title {
    font-size: 60px;
    line-height: 60px;

    &--promo {
      color: inherit;
    }
  }
}
