$green: #68b738;
$green-darken: #5eaa2f;

$grey-back: #f2f2f2;
$grey-back-darken: #ebebeb;

$font-color-head: #111111;
$font-color-text: #444444;

$oswald: "Oswald", arial, sans-serif;
$arial: arial, sans-serif;
